@model Social.Models.user_queries
@{
    ViewBag.Title = "profilesettings";
    Layout = "~/_LayoutPage1.cshtml";
}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Your Profile</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                       <form  method="post" enctype="multipart/form-data">
                           @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                           @Html.HiddenFor(model => model.user_id)
                           @Html.HiddenFor(model => model.user_imgpath)
                                <div class="form-group row">
                                    <label for="userupd_fname" class="col-4 col-form-label">First Name</label>
                                    <div class="col-8">
                          @Html.EditorFor(model => model.user_fname, new { htmlAttributes = new { @class = "form-control here" }, id = "userupd_name" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="userupd_lname" class="col-4 col-form-label">Last Name</label>
                                    <div class="col-8">
                            @Html.EditorFor(model => model.user_lname, new { htmlAttributes = new { @class = "form-control here" }, id = "userupd_lname" }) 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="userupd_email" class="col-4 col-form-label">Email</label>
                                    <div class="col-8">
                           @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "form-control here" }, id = "userupd_email" })
                                        
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="userupd_pass" class="col-4 col-form-label">Password</label>
                                    <div class="col-8">
                              @Html.EditorFor(model => model.user_pass, new { htmlAttributes = new { @class = "form-control here" }, id = "userupd_pass" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="userupd_contact" class="col-4 col-form-label">Contact</label>
                                    <div class="col-8">
                                        @Html.EditorFor(model => model.user_contact, new { htmlAttributes = new { @class = "form-control here" }, id = "userupd_contact" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="userupd_gender" class="col-4 col-form-label">Gender</label>
                                    <div class="col-8">
                                        @Html.DropDownListFor(model => model.user_gender, new List<SelectListItem>{

                                                new SelectListItem{ Text="Choose", Value = "0" },
                                                new SelectListItem{ Text="Male", Value = "Male" },
                                                new SelectListItem{ Text="Female", Value = "Female" },
                                                new SelectListItem{ Text="Other", Value = "Other" },
                                   }, new { @class = "custom-select", id = "userup_gender" })
                                        
                                       
                                    </div>
                                </div>
                              

                           <div class="form-group row">
                               <label for="userupd_contact" class="col-4 col-form-label">Budget</label>
                               <div class="col-8">
                                   @Html.EditorFor(model => model.user_budget, new { htmlAttributes = new { @class = "form-control here" }, id = "userupd_budget" })
                               </div>
                           </div>
                           <div class="form-group row">
                               <label for="userupd_gender" class="col-4 col-form-label">Interest</label>
                               <div class="col-8">

                                   @Html.DropDownListFor(model => model.interest_name, new SelectList(ViewBag.interest_list, "adcat_name", "adcat_name"), "Please Select",
                   new { @class = "form-control", id = "interest" })






                               </div>
                           </div>


                                <div class="form-group row">
                                    <label for="userupd_address" class="col-4 col-form-label">Address</label>
                                    <div class="col-8">
                                        @Html.TextAreaFor(model=>model.user_address,
                                        new { @class = "form-control", @cols = 40, @rows = 4, id="userup_address" }
                                       )
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="userupd_city" class="col-4 col-form-label">City</label>
                                    <div class="col-8">
                                        @Html.EditorFor(model => model.user_city, new { htmlAttributes = new { @class = "form-control here" }, id = "userupd_city" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-8">
                                        <input type="file" name="userup_img" id="userup_img" class="btn btn-light"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                        <button name="submit" type="submit" class="btn btn-dark">Update My Profile</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div><br />