@model IEnumerable<Social.Models.ad>
@{
    ViewBag.Title = "admin_adlist";
    Layout = "~/Adminpanel.cshtml";
   }

<br />
<h2>Published Ads</h2>
<div class="table-responsive table-hover">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Ad ID</th>
                <th>Ad Title</th>
                <th>Ad Category</th>
                <th>Ad Price</th>
                <th>Ad Description</th>
                <th>Ad Image 1</th>
                <th>Ad Image 2</th>
                <th>Ad Image 3</th>
                <th>Ad Image 4</th>
                <th>Ad Posted</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.ad_id</td>
                <td>@item.ad_title</td>
                <td>@item.adcat_name</td>
                <td>@item.ad_price</td>
                <td>@item.ad_desc</td>
                <td><img src="~/Images/@item.ad_img1" class="mx-auto img-fluid" alt="avatar" style="height:50px; width:70px;"> </td>
                <td><img src="~/Images/@item.ad_img2" class="mx-auto img-fluid" alt="avatar" style="height:50px; width:70px;"> </td>
                <td><img src="~/Images/@item.ad_img3" class="mx-auto img-fluid" alt="avatar" style="height:50px; width:70px;"> </td>
                <td><img src="~/Images/@item.ad_img4" class="mx-auto img-fluid" alt="avatar" style="height:50px; width:70px;"> </td>
                <td>@item.ad_datetime</td>
                <td>
                    @Html.ActionLink("User Details & Ads", "admin_userprofile", new { id = @item.user_id }, new { @class = "btn btn-dark btn-sm btn-outline-secondary" })</td>
            </tr>
            }
        </tbody>
    </table>
 
</div>